body {
    background-image: url("data:image/png;base64,{background}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

p {
    color: black;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 20px;
}

div[data-testid="StyledLinkIconContainer"] > a, 
div[data-testid="StyledLinkIconContainer"] > a > svg {
    background-color: rgba(255, 255, 255, 0);
    stroke: rgba(0, 0, 0, 0);
}

#popup {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
}

.button-17, 
div[data-testid="column"] > div > div > div > div > div > button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border: none;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 
                0 6px 10px rgba(0, 0, 0, 0.14), 
                0 1px 18px rgba(0, 0, 0, 0.12);
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: 0.25px;
    padding: 2px 24px;
    width: auto;
    transition: box-shadow 280ms, opacity 15ms 30ms, transform 270ms;
    margin: 0 auto;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px rgba(60, 64, 67, 0.3), 0 8px 12px rgba(60, 64, 67, 0.15);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.DidYouKnow_root {
    box-shadow: 0 0 0.5px rgba(77, 131, 132, 0.1), 0.5px rgba(0, 0, 0, 0.024), 1.4px rgba(0, 0, 0, 0.035), 3.3px rgba(0, 0, 0, 0.04), 11px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    padding: 0.5rem 20px;
    background: #fff;
    border-radius: 2rem;
    margin: 1.75em 0;
    max-width: 1000px;
}

.TextNew {
    font-size: 20px;
    line-height: 1.5;
}

.DidYouKnow_title {
    color: rgb(49, 91, 85);
    margin: 0;
    user-select: none;
}

.DidYouKnow_content {
    color: rgb(14, 17, 23);
    margin-top: 0.5rem;
    padding: 0 1rem;
}

h1, h2, h3, h4 {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

button[data-testid="baseButton-primary"],
button[data-testid="baseButton-secondary"] {
    width: 100%;
}

div[data-testid="stApp"] {
    background: none;
    color: black;
}

div[id^=tabs-bui][id$=-tabpanel-0] > div > div > div > div > div[class="stMarkdown"],
div[id^=tabs-bui][id$=-tabpanel-1] > div > div > div > div > div[class="st-ae"],
div[id^=tabs-bui][id$=-tabpanel-2] > div > div > div > div > div[class="st-ae"] {
    padding: 20px;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.7);
}

div[data-testid="stButton"] {
    text-align: center;
}

div[data-testid="stButton"] > button > div > p {
    color: white;
    font-size: 15px;
}

div[data-testid="stMarkdownContainer"] > p > a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

div[data-testid="stMarkdownContainer"] > p > a:hover:active {
    border: 1px solid rgb(0, 255, 0);
}

div[id^=tabs-bui][id$=-tabpanel-2] > div > div > div > div > div > div[id^=tabs-bui][id$=-tabpanel-0] > div > div {
    display: grid;
    place-items: center;
    text-align: center;
}

div[data-testid="stImage"] {
    max-width: 700px;
    display: grid;
}

.icon2 {
    background: url("data:image/png;base64,{icon2}");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
}

.icon3 {
    background: url("data:image/png;base64,{icon3}");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
}
